*{
  font-family: 'Roboto', sans-serif;
}

.keyboard{
  list-style-type: none;
  display: inline-block;
}


.keyboard-key {
  display: inline-block;
  width: 100px;
  height: 400px;
  line-height: 700px;
  font-weight: bold;
  text-align: center;
  box-shadow: 
  2px 0 0 0 black,
  0 2px 0 0 black,
  2px 2px 0 0 black,
  2px 0 0 0 black inset,
  0 2px 0 0 black inset;
}

.keyboard-sharp{
  position: absolute;
  background: #000;
  width: 70px;
  height: 270px;
  color: #fff;
  text-align: center;
  line-height: 470px;
  z-index: 10;
}